<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>00 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>512882964.43448502</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>00.md</key>
			<dict>
				<key>lastModification</key>
				<real>512882943.54490298</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>01.md</key>
			<dict>
				<key>lastModification</key>
				<real>512882948.19721299</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>2017-01-21.md</key>
			<dict>
				<key>lastModification</key>
				<real>512646932.77432001</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>2017-03-07 13-30-51.md</key>
			<dict>
				<key>lastModification</key>
				<real>512646999.10146201</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-03-08 13-30-58.md</key>
			<dict>
				<key>lastModification</key>
				<real>512647006.60028303</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-03-10 23-41-23.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>513788259.40542102</real>
				<key>lastModification</key>
				<real>513788259.40542102</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>2017-03-13 13-55-07.md</key>
			<dict>
				<key>lastModification</key>
				<real>512647027.92886698</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-17 18-41-54.md</key>
			<dict>
				<key>lastModification</key>
				<real>512647045.48767298</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2017-03-21 14-24-25.md</key>
			<dict>
				<key>lastModification</key>
				<real>512647066.35343701</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2017-03-23 09-36-31.md</key>
			<dict>
				<key>lastModification</key>
				<real>512647113.42208201</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2017-04-01 18-38-43.md</key>
			<dict>
				<key>lastModification</key>
				<real>512735951.55069798</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>2017-04-01 18-39-43.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>513788232.665622</real>
				<key>lastModification</key>
				<real>513788232.665622</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>98</integer>
				</dict>
			</dict>
			<key>2017-04-01 18-40-31 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>512736766.25622898</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-04-01.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514212501.36618501</real>
				<key>lastModification</key>
				<real>514212501.36618501</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>2017-04-03 11-29-43.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>513788227.20199299</real>
				<key>lastModification</key>
				<real>513788227.20199299</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>2017-04-03 19-57-36.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>513788222.90654999</real>
				<key>lastModification</key>
				<real>513788222.90654999</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>96</integer>
				</dict>
			</dict>
			<key>2017-04-10 15-25-28.md</key>
			<dict>
				<key>lastModification</key>
				<real>513501946.60717499</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>2017-04-14 18-45-33 yangzhiping.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>513916200.76908797</real>
				<key>lastModification</key>
				<real>513916200.76908797</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>117</integer>
				</dict>
			</dict>
			<key>2017-04-14 18-45-47.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>513916036.25930798</real>
				<key>lastModification</key>
				<real>513916036.25930798</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>2017-04-15 10-29-21.md</key>
			<dict>
				<key>lastModification</key>
				<real>513916167.23520797</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>115</integer>
				</dict>
			</dict>
			<key>2017-04-15 10-30-47.md</key>
			<dict>
				<key>lastModification</key>
				<real>513916259.72075999</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>2017-04-18 19-23-07.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514211648.67223299</real>
				<key>lastModification</key>
				<real>514211648.67223299</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>GithubFeed.md</key>
			<dict>
				<key>lastModification</key>
				<real>514300647.008214</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>134</integer>
				</dict>
			</dict>
			<key>WriteEnglishLetter.md</key>
			<dict>
				<key>lastModification</key>
				<real>513769639.70234799</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>little story.md</key>
			<dict>
				<key>lastModification</key>
				<real>514042865.38938898</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>move.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514390248.16201001</real>
				<key>lastModification</key>
				<real>514390248.16201001</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>146</integer>
				</dict>
			</dict>
			<key>st1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514390255.02492398</real>
				<key>lastModification</key>
				<real>514390255.02492398</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>147</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>512882924.32840502</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-04-18 19-23-07.md</string>
		</array>
		<array>
			<string>st1.md</string>
		</array>
		<array>
			<string>move.md</string>
		</array>
		<array>
			<string>GithubFeed.md</string>
		</array>
		<array>
			<string>little story.md</string>
		</array>
		<array>
			<string>2017-04-15 10-30-47.md</string>
		</array>
		<array>
			<string>2017-04-15 10-29-21.md</string>
		</array>
		<array>
			<string>2017-04-14 18-45-47.md</string>
		</array>
		<array>
			<string>2017-04-14 18-45-33 yangzhiping.md</string>
		</array>
		<array>
			<string>WriteEnglishLetter.md</string>
		</array>
		<array>
			<string>2017-04-10 15-25-28.md</string>
		</array>
		<array>
			<string>2017-04-03 19-57-36.md</string>
		</array>
		<array>
			<string>2017-04-01.md</string>
		</array>
		<array>
			<string>2017-04-03 11-29-43.md</string>
		</array>
		<array>
			<string>2017-04-01 18-40-31 - 2.md</string>
		</array>
		<array>
			<string>00.md</string>
		</array>
		<array>
			<string>00 - 2.md</string>
		</array>
		<array>
			<string>2017-04-01 18-38-43.md</string>
		</array>
		<array>
			<string>2017-04-01 18-39-43.md</string>
		</array>
		<array>
			<string>2017-03-23 09-36-31.md</string>
		</array>
		<array>
			<string>2017-03-21 14-24-25.md</string>
		</array>
		<array>
			<string>2017-03-17 18-41-54.md</string>
		</array>
		<array>
			<string>2017-03-13 13-55-07.md</string>
		</array>
		<array>
			<string>2017-03-10 23-41-23.md</string>
		</array>
		<array>
			<string>2017-03-08 13-30-58.md</string>
		</array>
		<array>
			<string>2017-03-07 13-30-51.md</string>
		</array>
		<array>
			<string>2017-01-21.md</string>
		</array>
		<array>
			<string>01.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>147</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
