<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>CLI-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>515983445.40366602</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>260</integer>
				</dict>
			</dict>
			<key>donatstudios.com_assets_54_CsvToMarkdownTable_example.html.1c1u1c33.txt</key>
			<dict>
				<key>lastModification</key>
				<real>515938951.35883898</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>254</integer>
				</dict>
			</dict>
			<key>fellow.md</key>
			<dict>
				<key>lastModification</key>
				<real>516157573.30209303</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>271</integer>
				</dict>
			</dict>
			<key>git-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>515983445.40366697</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>260</integer>
				</dict>
			</dict>
			<key>github.com_13416136446_BP_Github_issues_8.1d1h2f3b.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>516067018.35832202</real>
				<key>lastModification</key>
				<real>516067018.35832202</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>263</integer>
				</dict>
			</dict>
			<key>github.com_AIWriter_Writer004_issues_new.1y173837.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515897557.32624501</real>
				<key>lastModification</key>
				<real>515938951.35884202</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>254</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_101.2h2q232c.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515897588.87803501</real>
				<key>lastModification</key>
				<real>515938951.35884398</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>254</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_102.2427222x.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>516067025.25701702</real>
				<key>lastModification</key>
				<real>516067025.25701702</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>264</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_23.39251e1l.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515721935.34032601</real>
				<key>lastModification</key>
				<real>515721935.34032601</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>241</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_48.38212u34.txt</key>
			<dict>
				<key>lastModification</key>
				<real>515938951.358841</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>254</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_83.1u2i252x.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515721935.34115702</real>
				<key>lastModification</key>
				<real>515721935.34115702</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>243</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_87.1h1c2u30.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515721935.341461</real>
				<key>lastModification</key>
				<real>515721935.341461</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>244</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_95.3c1i3738.txt</key>
			<dict>
				<key>lastModification</key>
				<real>515938951.35883999</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>254</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_98.3c3b2p1l.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515897570.72999001</real>
				<key>lastModification</key>
				<real>515938951.35884303</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>254</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_new.1i2u382p.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515897596.46090698</real>
				<key>lastModification</key>
				<real>515897596.46090698</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>252</integer>
				</dict>
			</dict>
			<key>knowledgeTree.md</key>
			<dict>
				<key>lastModification</key>
				<real>516068497.632994</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>267</integer>
				</dict>
			</dict>
			<key>lovespace.md</key>
			<dict>
				<key>lastModification</key>
				<real>516246025.88268203</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>274</integer>
				</dict>
			</dict>
			<key>sublimetext.md</key>
			<dict>
				<key>lastModification</key>
				<real>515939210.00216299</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>257</integer>
				</dict>
			</dict>
			<key>table.md</key>
			<dict>
				<key>lastModification</key>
				<real>515983477.50003701</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>261</integer>
				</dict>
			</dict>
			<key>wiki-github-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>515983445.40366799</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>260</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>514786491.55795801</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_new.1i2u382p.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_83.1u2i252x.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_23.39251e1l.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_87.1h1c2u30.txt</string>
		</array>
		<array>
			<string>lovespace.md</string>
		</array>
		<array>
			<string>fellow.md</string>
		</array>
		<array>
			<string>knowledgeTree.md</string>
		</array>
		<array>
			<string>table.md</string>
		</array>
		<array>
			<string>sublimetext.md</string>
		</array>
		<array>
			<string>donatstudios.com_assets_54_CsvToMarkdownTable_example.html.1c1u1c33.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_95.3c1i3738.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_48.38212u34.txt</string>
		</array>
		<array>
			<string>github.com_AIWriter_Writer004_issues_new.1y173837.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_98.3c3b2p1l.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_101.2h2q232c.txt</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_102.2427222x.txt</string>
		</array>
		<array>
			<string>github.com_13416136446_BP_Github_issues_8.1d1h2f3b.txt</string>
		</array>
		<array>
			<string>CLI-tool.md</string>
		</array>
		<array>
			<string>git-tool.md</string>
		</array>
		<array>
			<string>wiki-github-tool.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>274</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
