<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>706style.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.21993101</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>beijing.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.16284698</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>blog.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.05286998</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>blogbetter (drafts）.md</key>
			<dict>
				<key>lastModification</key>
				<real>512629153.52103001</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>card.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.31008101</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>catch - 2 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512395114.04880202</real>
				<key>lastModification</key>
				<real>512395114.04880202</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>catch - 2 - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512395114.05050403</real>
				<key>lastModification</key>
				<real>512395114.05050403</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>catch - 2 - 4.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512395114.05172598</real>
				<key>lastModification</key>
				<real>512395114.05172598</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>72</integer>
				</dict>
			</dict>
			<key>catch - 2 - 5.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512395113.92762297</real>
				<key>lastModification</key>
				<real>512395113.92762297</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>catch - 2 - 6.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512395113.79984897</real>
				<key>lastModification</key>
				<real>512395113.79984897</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>catch - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512395113.80047297</real>
				<key>lastModification</key>
				<real>512395113.80047297</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>catch.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.15423602</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>doll.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.08235002</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>imphone.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.219675</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>84</integer>
				</dict>
			</dict>
			<key>japan.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.12034303</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>leave.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.05308801</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>loveship.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.075293</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>76</integer>
				</dict>
			</dict>
			<key>mac.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.252083</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>86</integer>
				</dict>
			</dict>
			<key>nosie.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.21140999</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>nowork - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512388417.35283703</real>
				<key>lastModification</key>
				<real>512388417.35283703</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>nowork - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>512388413.98509002</real>
				<key>lastModification</key>
				<real>512388413.98509002</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>nowork.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.11403102</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>wudaokou.md</key>
			<dict>
				<key>lastModification</key>
				<real>512395127.17346197</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>82</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>nowork - 3.md</string>
		</array>
		<array>
			<string>nowork - 2.md</string>
		</array>
		<array>
			<string>catch - 2.md</string>
		</array>
		<array>
			<string>catch - 2 - 6.md</string>
		</array>
		<array>
			<string>catch - 2 - 5.md</string>
		</array>
		<array>
			<string>catch - 2 - 4.md</string>
		</array>
		<array>
			<string>catch - 2 - 3.md</string>
		</array>
		<array>
			<string>catch - 2 - 2.md</string>
		</array>
		<array>
			<string>blog.md</string>
		</array>
		<array>
			<string>blogbetter (drafts）.md</string>
		</array>
		<array>
			<string>loveship.md</string>
		</array>
		<array>
			<string>leave.md</string>
		</array>
		<array>
			<string>doll.md</string>
		</array>
		<array>
			<string>nowork.md</string>
		</array>
		<array>
			<string>japan.md</string>
		</array>
		<array>
			<string>catch.md</string>
		</array>
		<array>
			<string>beijing.md</string>
		</array>
		<array>
			<string>wudaokou.md</string>
		</array>
		<array>
			<string>706style.md</string>
		</array>
		<array>
			<string>imphone.md</string>
		</array>
		<array>
			<string>nosie.md</string>
		</array>
		<array>
			<string>mac.md</string>
		</array>
		<array>
			<string>card.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>93</integer>
		</dict>
	</dict>
</dict>
</plist>
