<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_drafts</string>
		<string>_posts</string>
		<string>life</string>
		<string>categories</string>
		<string>tags</string>
		<string>knowledge</string>
		<string>creation</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>_drafts</key>
			<dict>
				<key>lastModification</key>
				<real>512646731.51664603</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>_posts</key>
			<dict>
				<key>lastModification</key>
				<real>512646724.20649397</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>categories</key>
			<dict>
				<key>lastModification</key>
				<real>512646724.20649499</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>creation</key>
			<dict>
				<key>lastModification</key>
				<real>512646724.20649701</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>knowledge</key>
			<dict>
				<key>lastModification</key>
				<real>512646724.206496</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>life</key>
			<dict>
				<key>lastModification</key>
				<real>512646724.20649499</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tags</key>
			<dict>
				<key>lastModification</key>
				<real>512646724.206496</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
